<%= render partial: "/layouts/navbar" %>


<div class="container">
	<h2 class="title", style="padding-left: 35px;">Request Job HERE</h2>
	<%= render 'form'%>


</div>
<%= render partial: "/layouts/footer" %>
