<%= render partial: "/layouts/navbar" %>

<div class="container">
	

<h2><span class="appname">CARITAS<span></h2>

	<div class="information-content">
		<h2 class="information-title">About Us</h2>
		<h4>We are SDG oriented platform who collaborate with underprivileged group towards a better future.</h4>

		<hr>

		<h2 class="information-title">Vision</h2>
		<h4>Our vision is to reduce the economical gap and inequalities between underprivileged group and formal sector. </h4>

		<hr>

		<h2 class="information-title">Sustainable Development Goals</h2>
		<h4>Reduced Inequalities</h4>
		<h4>Quality Education</h4>
		<h4>Decent Work and Economic Growth</h4>

		<hr>
		<h2 class="information-title">Our Platform</h2>

		<h4>We are a platform who allows people to request services and bring more jobs opportunities to underprivileged group.</h4>

		<hr>
		<h2 class="information-title">Who are eligible?</h2>

		<ul class="list-group">
		    <li class="list-group-item">Informal Sector</li>
		    <li class="list-group-item">Housewives</li>
		    <li class="list-group-item">People with Disabilities</li>
		    <li class="list-group-item">B40 Group</li>
		    <li class="list-group-item">People who do not have Professional Certificate</li>
		</ul>


		<h2 class="information-title">How to apply?</h2>	

		<h4>If you are the person from the above groups, please apply through our website. <%= link_to "Apply Here", affiliate_sign_up_path %></h4>
		<h4>Supporting documents are needed for us to verify your application.</h4>
	</div>
</div>

<br>
<%= render partial: "/layouts/footer" %>

