<%= render partial: "/layouts/navbar" %>

<div id="partnership" class="partnership-photo">
	<h3 class="text-center partnership-text">Partner with us</h3>
	<div class="apply-button">
		<%= button_to "Apply", "/", class: "partnership-button text-center" %>
	</div>
</div>
<div class="container">
  <h2>List of companies </h2>
  <ul class="list-group">
    <li class="list-group-item">Training Sdn Bhd</li>
    <li class="list-group-item">Eboss training center</li>
    <li class="list-group-item">Next Academy</li>
  </ul>
</div>

<%= render partial: "/layouts/footer" %>