<%= render partial: "/layouts/navbar" %>


<div class="container">
  <h2>Jobs Statement</h2>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Services</th>
        <th>Date </th>
        <th>Fees (87%)</th>
        <th>Charges (5%)</th>
        <th>Pension Fund (8%)</th>
        <th>Total (100%)</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Cleaning services</td>
        <td>31 Jan 2018</td>
        <td>RM 69.60</td>
        <td>RM 4.00</td>
        <td>RM 6.40</td>
        <td>RM 80.00</td>
      </tr>
      <tr>
        <td>Mover</td>
        <td>22 Jan 2018</td>
        <td>RM 60.90</td>
        <td>RM 3.50</td>
        <td>RM 5.60</td>
        <td>RM 70.00</td>
      </tr>
      <tr>
        <td>Cathering services</td>
        <td>21 Jan 2018</td>
        <td>RM 87.00</td>
        <td>RM 5.00</td>
        <td>RM 8.00</td>
        <td>RM 100.00</td>
      </tr>

      <tr>
        <td><b>Total Amount</b></td>
        <td></td>
        <td><b>RM 217.50</b></td>
        <td><b>RM 12.50</b></td>
        <td><b>RM 20.00</b></td>
        <td><b>RM 250.00</b></td>
      </tr>
    </tbody>
  </table>
  <br>

  <h6>*** Please note that all collected <i>Pension Fund</i> had already transferred to your own pension fund accont. ***</h6>
  <h6>*** Please login to your pension fund account to view your saving. ***</h6>
</div>


<%= render partial: "/layouts/footer" %>