#row2{
  margin-top: 20px;
}

.affiliatecoursesection{
  background-color: lightgray;
  padding: 15px; 
}

.affiliatecoursesection h3{
  font-size: 1.5em;
  font-weight: 900;
}

.affiliatecoursesectionul{
  padding-left: 0;
  text-align: left;
}

.affiliatecoursesectionul li{
  list-style: none;
}

.affiliatecoursesectionbuttonli{
  color: #000000;
  width:300px;
  padding-bottom: 40px;
  margin-top: 20px;
}

.affiliatecoursesectionbutton{
  position: relative;
  color:#000000;
  text-decoration: none;
  border-radius: 10px;
  border: 0;
  font-family: 'Poppins', sans-serif;
  font-weight: 900;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: lightgray;
}

.affiliatecoursesectionbutton:hover{
  color: #000000;
  text-decoration: none;
}

.affiliatecoursesectionbutton:before{
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #1D8BDD;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.affiliatecoursesectionbutton:hover:before{
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.affiliateupcomingjobsection{
  
}