.background {
	width: 1285px;
	height: 500px;
	display: inline-block;
	background-image: url('picture4.jpg');
}

h1.text {
	margin-top: 100px;
	color:#6F3A8F;
}

.text-right {
	font-family: 'Sintony', sans-serif;
	margin-right: 70px;
	color: #FAFAFA;
}
.form-container {
	width: 700px;
	margin:auto;
}

h2.sub-title{
	color:#6F3A8F;
}

.btn-apply {
  font-family: 'Poppins', sans-serif;
  border: 1.5px solid transparent;
  border-color: #6F3A8F;
  border-radius: 4px;
  cursor: pointer;
  background:#6F3A8F;
  font-size: 15px;
  line-height: 22px;
  padding-left: 24px;
  padding-right: 24px;
  font-weight: 700;
  padding-top:10px;
  padding-bottom: 12px;
  display: inline;
  color:#ffffff;
}

.form-text {
	font-family: 'Poppins', sans-serif;
}

.portfolio {
  border-left: 1px solid black;
  border-right: 1px solid black;
}


.thumbnail-review{
   border-radius: 50%;
   width:100px;
   height:100px;
 }