// Place all the styles related to the companies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.partnership-photo {
	
	height: 485px;
	display: inline-block;
	background-image: url('partnerbackground.jpg');
	background-size: cover;
}


#partnership h3{
	color:#6F3A8F;
	margin-top: 20px;
	margin-left: 0 auto;
	margin-right: 0 auto;
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: 1000;
	font-size: 3em;
}

.apply-button{
	width:100px;
	margin:auto;
}


.partnership-button{
	margin-top: 10px;
	padding: 20px 30px 20px 30px;
}

h2.table-title {
	color:#6F3A8F;
	text-decoration: none;
}