#carousel-example-generic img{
	width: auto;
	height: 445px;
}

.carousel-inner{
	position: relative;
}

/*.carousel-caption{
	position: absolute;
	width:100px;
	height: 100px;
	top: 50%;
	padding-right: 100%;
	padding-bottom: 100px;
}*/