#carousel-example-generic img{
	width: auto;
	height: 445px;
}

.carousel-inner{
	position: relative;
}

#guide_container{
	padding-bottom: 0;
	height:200px;
	background-color: #484848;
	color: white;
	text-align: center;
}

#guide_container h1{
	margin-top: 50px;
	font-family: 'Sintony', sans-serif;
	font-weight: 900;
	font-size: 2.5em;
}

.button{
	color: black;
	padding-top: 20px;
	padding-bottom: 20px;
}

.buttonstyle{
	border-radius: 10px;
	border: 0;
	font-family: 'Poppins', sans-serif;
	font-weight: 900;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
}

.container{
	padding-top: 30px;
	padding-bottom: 30px;
	width:1000px;
}

.thumbnail{
	border-radius: 50%;
	width:235.25px;

	height: 250px;
	border-color: #fff;
}

.jobstyle{
	display: inline-block;
	margin-bottom: 0;
}

.thumnail-image{
	border-radius: 25px;
}

#latestjobheader{
	font-weight: 600;
	font-size: 2.571em;
	color: #484848;
	text-align: center;
}

.sectionheader{
	font-family: 'Sintony', sans-serif;
	font-weight: 900;
	font-size: 2.5em;
}

.sectionword{
	font-family: 'Poppins', sans-serif;
	font-weight: 500;
	font-size: 2.5em;
}

#paginate{
	margin: 0 auto;
	width: 200px; 
}

.joinusbuttonstyle{
	border-radius: 10px;
	border: 0;
	font-family: 'Poppins', sans-serif;
	font-weight: 900;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
	padding-right: 20px;
	background-color: #484848;
}

.joinusbutton{
	margin: 0 auto;
	color: #FFFFFF;
	width:300px;
	padding-bottom: 40px;
	display: flex;
	justify-content: space-around;
}

.caption{
	display: flex;
	justify-content: space-around;
}

#jobthumbnailName{
	text-align: center;
	height: 36px;
	margin-top: 10px;
	margin-bottom: 0;
	font-family: 'Sintony', sans-serif;
	color: #484848;
}

.captionPriceCategory{
	padding-top: 0;
}

#jobthumbnailPrice{
	font-family: 'Poppins', sans-serif;
	height: 22px;
	font-weight: 700;
	margin:0;
	color: #f57224;
}

#jobthumbnailCategory{
	font-family: 'Poppins', sans-serif;
	margin:0;
	color: #484848;
}

#service_container{
	background-color: #ccc;
	text-align: center;
	padding-bottom: 0;
	/*height:200px;*/
}

#service_container h1{
	color: #484848;
}

.serviceCoveredSection{
	display: flex;
	justify-content: space-around;
	color: #484848;
	font-family: 'Poppins', sans-serif;
	padding-top: 20px;
}

.servicesimage{
	width: 150px;
	height: 150px;
	border-radius: 50%;
}
