#carousel-example-generic img{
	width: auto;
	height: 445px;
}

.carousel-inner{
	position: relative;
}

#guide_container{
	padding-top: 100px;
	padding-left: 50px;
	padding-right: 50px;
	height:400px;
	background-color: #009D3B;
	color: white;
	text-align: center;
}

#guide_container h1{
	margin: 0 auto;
}

.button{
	color: black;
	margin-top: 50px;
	padding-top: 20px;
	padding-bottom: 20px;
}

.container{
	width:1190px;
}

.thumbnail{
	width:285.25px;
	height: 300px;
	border-color: #fff;
}

.jobstyle{
	display: inline-block;
}

.thumnail-image{
	border-radius: 25px;
}

#latestjobheader{
	font-weight: 600;
	font-size: 2.571em;
	color: #00BA51;
	text-align: center;
}

.sectionheader{
	font-family: 'Open Sans Condensed', sans-serif;
}

.sectionword{
	font-family: 'Open Sans', sans-serif;
}


#paginate{
	margin: 0 auto;
	width: 200px; 
}