.rowcontainer{
	background-image: image-url('woodenboard.jpg');
}

#boardheadersection{
	display: flex;
	border-bottom: 1px solid black;
}

.boardheader{
	padding-left: 140px;
}

#boardheaderWord{
	text-decoration: none;
	font-size: 3em;
}

.boardpinstyle{
	width: 50px;
	height: 50px;
}

.mapheadersection{
	display: flex;
}

.mappinstyle{
	width: 50px;
	height: 50px;
}

#mapheaderWord{
	padding-left: 24px;
}

.sectionstyle{
	text-align: center;
	height: 600px;
	margin-bottom: 25px;	
}

.leftsectionstyle{
	background-image: image-url('paper.jpg');
	background-size: cover;
}

.rightsectionstyle{
	background-image: image-url('paper.jpg');
	background-size: cover;	
}

.leftsectionstyle h1{
	font-family: 'Open Sans Condensed', sans-serif;
	color: #000000;
	text-decoration: underline;
	border-right-color: #FFFFFF;
}

.sectionstyle h4{
	font-family: 'Open Sans', sans-serif;
	color: #000000;
}	

#jobName{
	font-size: 3em;
}

.rightsectionstyle h1,h2{
	font-family: 'Sintony', sans-serif;
	color: #000000;
}

.timedatesection{
	display: flex;
	justify-content: space-around;
}

.flaticonstyle{
	width: 41px;
	height: 41px;
}

.reservebuttonsection{
	margin:0 auto;
}

.reservebutton{
	position: relative;
	background-color: none;
	color: red;
	padding: 10px;
	border-radius: 25px; 
	font-weight: 900;
	font-size: 1.3em;
	margin-bottom: 10px;
}

.reservebutton:hover{
	color: red;
	text-decoration: none;
}

.reservebutton:before{
	content: "";
	position: absolute;
	width: 100%;
	height: 2px;
	bottom: 0;
	left: 0;
	background-color: #1D8BDD;
	visibility: hidden;
	-webkit-transform: scaleX(0);
	transform: scaleX(0);
	-webkit-transition: all 0.3s ease-in-out 0s;
	transition: all 0.3s ease-in-out 0s;
}

.reservebutton:hover:before{
	visibility: visible;
	-webkit-transform: scaleX(1);
	transform: scaleX(1);
}