
.userlogo{
	height: 50px;
	width: 50px;
	border-radius: 50%;
}

.navbar{
	margin-bottom: 0px;
	background-color: #FFFFFF;
}

#userlogostyle{
	padding: 0;
}

.nav li a:hover{
	background-color: #FFFFFF;
}

.modal-btn{
	position: relative;
	color:#000000;
	text-decoration: none;
}

.modal-btn:hover{
	color: #000000;
	fill: #000000;
}

.modal-btn:before{
	content: "";
	position: absolute;
	width: 100%;
	height: 2px;
	bottom: 0;
	left: 0;
	background-color: #1D8BDD;
	visibility: hidden;
	-webkit-transform: scaleX(0);
	transform: scaleX(0);
	-webkit-transition: all 0.3s ease-in-out 0s;
	transition: all 0.3s ease-in-out 0s;
}

.modal-btn:hover:before{
	visibility: visible;
	-webkit-transform: scaleX(1);
	transform: scaleX(1);
}

.addpointercursor{
	cursor: pointer;
}